/* CSS RESET */

*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing:border-box;
}

:root {
   --font-sans:'Lexend','Arial',sans-serif;
   --font-serif:'EB Garamond',' Georgia' ,serif;


   --color-neutral-light:#3ac592;
   --color-neutral-medium:#609f88;
   --color-neutral-dark:#3cc3a5;

   --color-main-light:#c5f0b7;
   --color-main-medium:#38612e;
   --color-main-dark:#0f3505;

   --color-white:#fff;
   --color-black:#111;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}


h1,
h3
 {
   font-family:var(--font-serif);
}

h2,
h4,
h6 {
  font-family:var(--font-sans);
}

h4,a{
   font-family:var(--font-sans);
}
h5,p{
  font-family:var(--font-serif);
}


a {
   color:inherit;
   text-decoration:none;
   font-weight:bold;
}
a:hover {
   text-decoration: underline;
}





/*LOGO*/
.logo{
    background: url(../img/logo.png) no-repeat;
    height: 200px;
    width: 150px;
    background-size: 100%;
    margin: 50px auto;
}



.logo-text{
  text-align: center;

}

/*list part*/
.container {
    background-color: #c5f0b7;
    padding: 1.5rem 1.5rem;


}
.card {
    display: flex;
    padding: 1rem;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 0.5rem 2rem #609f88;
    border-radius: 0.7rem;
    margin-bottom: 23px;
  }
   .card-image{
    border-radius: 0.7rem;
   }
  h4.ui-title {
    background-color:#609f88;
    color: #0f3505;
}
  
.text-01 {
    margin: 0.5rem 1rem 0.5rem 1.5rem;
}
.text-01 h4 {
    top: 30px;
    position: relative;
    font-size:2rem;
   }
.text-01 h5 {
    position: relative;
    top: 30px;
    font-size: 25px;
}



/*Signup part*/
.register {
    padding: 1.5em 2em;
    margin: 0;
}

.register p {
   font-size: 18px;
    font-weight: 900;
}

.register a {
  text-decoration-line: underline;
  color:#38612e;
  font-size: 18px;
  }

.create-account {
    text-align: center;
}

#signin-page{
    background-color: #c5f0b7;
    }




#register-page{
  background-color: #c5f0b7;
}
.U-info{
 font-size: 25px;
    font-weight: 900;
    color: #38612e;
}





/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }




.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}
.no-touch { pointer-events:none; }
.do-touch { pointer-events:all; }






/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}



[data-role="main"] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}



[data-role="footer"],
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.2);
   position:relative;
   overflow:hidden;
}




.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}






/* Navigation Elements */
.header a,
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

.header a,
[data-role="header"] a {
  padding: 0 1em;
}


.header {
  width:100%;
   height: var(--header-height);
   line-height: var(--header-height);
}







/* FORM ELEMENTS */
.form-control {
    margin: 1em 0;
}

.ui-mobile .form-label {
    margin: 1em 0;
    font-size: 0.7em;
    color: var(--color-neutral-medium);
}

.form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    outline: 0;
    margin-bottom: 12px;
    font:inherit;
    border-radius: 30px;
}

.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-width:0;
    background-color:var(--color-neutral-light);
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    cursor:pointer;
    border-radius: 30px;
}

.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}







/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}
.modal-popup.small {
  width:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-head,
.modal-foot {
  background-color:var(--color-neutral-light);
  padding:0.5em 1em;
}
.modal-body {
  background-color:var(--color-white);
  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}









/* ICONS */
.icon svg,
.icon img {
  width:1em;
  height:1em;
  vertical-align: text-bottom;
}


.title-icons .title,
.title-icons .icon {
  display:block;
}
.title-icons .icon {
  line-height:calc(var(--header-height)*(2/3));
  font-size:1.5em;
}
.title-icons .title {
  line-height:calc(var(--header-height)*(1/3));
  font-size:0.7em;
}




/* FLOATERS */
.floater { position:absolute; }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding:1em;
  display:block;
}






/* remove this later */
.plant-top,
#recent-page [data-role='main'] {
  background-image: url('../img/map.png');
  background-position:center;
  background-size:cover;
}







/* Plant PROFILE PAGE */
.plant-top {
  flex:none;
  height:40vh;
}
.Plant-bottom {
  flex:1 1 100%;
  position:relative;
  overflow:hidden;
}